# Archivos de R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData
*.rda
*.RDataTmp
.RDataTmp
.RDataTmp1

# Carpetas de datos y reports
Datos/
Datos/CRCx\ sc\ ref/
Reports/

# Resultados
Results/TPNL_three_explorations/
Results/images/
